/* The Modal (background) */



.modal {
  //display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,.7); /* Fallback color */
}



/* Modal Content/Box */
.modal-content {
  transform: 'translate(-50%,+50%)';
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

.areaa {
  padding: 1rem;
  background: white;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
}

.area {
  padding: 1rem;
  background: white;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.select-box {
  position: relative;
  display: block;
  width: 100%;
  margin: 10%;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
  
  @media (min-width: 768px) {
    width: 70%;
  }
  
  @media (min-width: 992px) {
    width: 50%;
  }
  
  @media (min-width: 1200px) {
    width: 30%;
  }
  
  &__current {
    position: relative;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
    cursor: pointer;
    outline: none;
    
    &:focus {
      & + .select-box__list {
        opacity: 1;

        // We have to set "animation-name: none;" to make the list visible (read below how it works)

        animation-name: none;
        
        .select-box__option {
          cursor: pointer;
        }
      }
      
      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  
  &__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }
  
  &__value {
    display: flex;
  }
  
  &__input {
    display: none;
    
    &:checked + .select-box__input-text {
      display: block;
    }
  }
  
  &__input-text {
    display: none;
    width: 100%;
    margin: 0;
    padding: 15px;
    background-color: #fff;
  }
  
  &__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    
    animation-name: HideList;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  }
  
  &__option {
    display: block;
    background-color: #fff;
    
    &:hover,
    &:focus {
      color: #546c84;
      background-color: #fbfbfb;
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.leaderboard {
    max-width: 490px;
    width: 100%;
    border-radius: 12px;
    
    header {
      --start: 15%;
      
      height: 130px;
      background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, .33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
      color: #fff;
      position: relative;
      border-radius: 12px 12px 0 0;
      overflow: hidden;
      
      .leaderboard__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calc(var(--start) * .75);
        transform: translateY(-50%);
        text-transform: uppercase;
        margin: 0;
        
        span {
          display: block;
        }
        
        &--top {
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 6.5px;
        }
        
        &--bottom {
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 3.55px;
          opacity: .65;
          transform: translateY(-2px);
        }
      }
      
      .leaderboard__icon {
        fill: #fff;
        opacity: .35;
        width: 50px;
        position: absolute;
        top: 50%;
        left: var(--start);
        transform: translate(-50%, -50%);
      }
    }
    
    &__profiles {
      background-color: #fff;
      border-radius: 0 0 12px 12px;
      padding: 15px 15px 20px;
      display: grid;
      row-gap: 8px;
    }
    
    &__profile {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      padding: 10px 30px 10px 10px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
      cursor: pointer;
      transition: transform .25s cubic-bezier(.7,.98,.86,.98), box-shadow .25s cubic-bezier(.7,.98,.86,.98);
      background-color: #fff;
      
      &:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
      }
    }
    
    &__picture {
      max-width: 100%;
      width: 60px;
      border-radius: 50%;
      box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
    }
    
    &__name {
      color: #979cb0;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.64px;
      margin-left: 12px;
    }
    
    &__value {
      color: #35d8ac;
      font-weight: 700;
      font-size: 34px;
      text-align: right;
      
      & > span {
        opacity: .8;
        font-weight: 600;
        font-size: 13px;
        margin-left: 3px;
      }
    }
  }

  .leaderboard {
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .4);
  }